services:
  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
#     - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - PORT=3000
    env_file:
#      - .env
       - ../../infrastructure/.env
    networks:
      - web
      - internal
#    depends_on:
#      - postgres

networks:
  web:
    external: true
  internal:
    external: true
